body {
  margin: 0px;
  padding: 0px;
}

button {
  height: 250px;
  width: 500px;
  margin: 50px;
  border-radius: 50px;
  font: bold 50px Arial, sans-serif;
  color: black;
  background-color: mediumseagreen;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

.pixelContainer {
  display: flex;
  flex-wrap: wrap;
  width: 1600px;
  height: 1600px;
  background-color: black;
}

.pixel {
  background-color: black;
}
